.page{
  width: 100%;
  height: 100%;
  position: absolute;
}
.top-tags{
  bottom: auto;
  top: 35px;
}
.tags{
  color: #225a71;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'Aurore';
}
.container{
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 556px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.about-page, .contact-page, .gallery-page, .home-page{
  .text-zone {
    position: absolute;
    left: 10%;
    transform: translateY(-50%);
    top: 50%;
    width: 40%;
    vertical-align: middle;
    display:  table-cell;
    h1{
      font-size: 50px;
      font-family: 'Roboto';
      color: #9e1b1d;
      font-weight: 400;
      margin-bottom: 40px;
      position: relative;
      left: 10px;
      &:before{
        content: '<h1>';
        font-family: 'Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        line-height: 18px;
      }
      &:after{
        content: '</h1>';
        font-family: 'Aurore';
        font-size: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        line-height: 18px;
      }
    }
    p{
      font-size: 15px;
      color: #9e1b1d;
      font-family: 'sans-serif';
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;

      &:nth-of-type(1){
        animation-delay: 1.1s;
      }
      &:nth-of-type(2){
        animation-delay: 1.3s;
      }
      &:nth-of-type(3){
        animation-delay: 1.5s;
      }
      &:nth-of-type(4){
        animation-delay: 1.7s;
      }
      &:nth-of-type(5){
        animation-delay: 1.9s;
      }

    }
  }
  .gallery-zone {
    position: absolute;
    left: 10%;
    transform: translateY(-50%);
    top: 50%;

    vertical-align: middle;
    display:  table-cell;
    h1{
      font-size: 50px;
      font-family: 'Aurore';
      color: #ffffff;
      font-weight: 400;
      margin-bottom: 40px;
      position: relative;
      left: 10px;
      &:before{
        content: '<h1>';
        font-family: 'Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        line-height: 18px;
      }
      &:after{
        content: '</h1>';
        font-family: 'Aurore';
        font-size: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        line-height: 18px;
      }
    }
    p{
      font-size: 15px;
      color: #ffffff;
      font-family: 'sans-serif';
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;

      &:nth-of-type(1){
        animation-delay: 1.1s;
      }
      &:nth-of-type(2){
        animation-delay: 1.3s;
      }
      &:nth-of-type(3){
        animation-delay: 1.5s;
      }
      &:nth-of-type(4){
        animation-delay: 1.7s;
      }
      &:nth-of-type(5){
        animation-delay: 1.9s;
      }

    }
  }
}

@media screen and (max-width: 768px) {
  .about-page, .contact-page, .gallery-page, .home-page {
    .text-zone {
      position: absolute;
      left: 10%;
      transform: translateY(-50%);
      top: 50%;
      width: 80%;
      vertical-align: middle;
      display: table-cell;

      h1 {
        font-size: 30px;
        font-family: 'Roboto';
        color: #ffffff;
        font-weight: 200;
        margin-bottom: 20px;
        position: relative;
        left: 5px;

        &:before {
          content: '<h1>';
          font-family: 'Aurore';
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          line-height: 18px;
        }

        &:after {
          content: '</h1>';
          font-family: 'Aurore';
          font-size: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          line-height: 18px;
        }
      }

      p {
        font-size: 15px;
        color: #ffffff;
        font-family: 'sans-serif';
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
          animation-delay: 1.1s;
        }

        &:nth-of-type(2) {
          animation-delay: 1.3s;
        }

        &:nth-of-type(3) {
          animation-delay: 1.5s;
        }

        &:nth-of-type(4) {
          animation-delay: 1.7s;
        }

        &:nth-of-type(5) {
          animation-delay: 1.9s;
        }

      }
    }

    .gallery-zone {
      position: absolute;
      left: 10%;
      transform: translateY(-50%);
      top: 50%;

      vertical-align: middle;
      display: table-cell;

      h1 {
        font-size: 50px;
        font-family: 'Aurore';
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 40px;
        position: relative;
        left: 10px;

        &:before {
          content: '<h1>';
          font-family: 'Aurore';
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          line-height: 18px;
        }

        &:after {
          content: '</h1>';
          font-family: 'Aurore';
          font-size: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          line-height: 18px;
        }
      }

      p {
        font-size: 15px;
        color: #ffffff;
        font-family: 'sans-serif';
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
          animation-delay: 1.1s;
        }

        &:nth-of-type(2) {
          animation-delay: 1.3s;
        }

        &:nth-of-type(3) {
          animation-delay: 1.5s;
        }

        &:nth-of-type(4) {
          animation-delay: 1.7s;
        }

        &:nth-of-type(5) {
          animation-delay: 1.9s;
        }

      }
    }

  }
}
