.stage-cube-cont{
  width: 47%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.skills{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  margin: 2%;
  .circular{
    width: 20%;
    height: 20%;
    margin: 2%;
  }
  h2{
   text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fff;
    margin-left: 2%;
  }
}
.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}