.container-home {
  width: 100%;
  will-change: contents;

  /* height: 90%; */
  min-height: 556px;

  /* position: absolute; */
  opacity: 0;
  top: 5%;
  margin: 0 7%;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s ease-in-out forwards;

  /* animation-delay: 1s; */
  img {
    height: 20%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 1%;
  }
}
