.card {
  display: grid;
  grid-template-columns: 280px;
  #grid-template-rows: 210px 210px 80px;
  grid-template-areas:
    "image"
    "text"
    "stat";
  border-radius: 10px;
  background: #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gallery-grid {
  display: flex;
  column-gap: 12px;
}

.card-image {
  grid-area: image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-text {
  grid-area: text;
}

.card-stats {
  grid-area: stat;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: -11%;
}

h2,
h3 {
  color: #225a71;
}

.flat-button {
  background: #225a71;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 8px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background: #fff;
    color: #225a71;
    border: 1px solid #225a71;
  }
}

a {
  text-decoration: none;
  display: table-cell;
}
