.nav-bar {
  background: #ffffff;
  width: 75px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  .logo{
    display: block;
    padding: 8px 0;
    img{
      display: block;
      margin: 8px auto;
      width: 60px;
      height: auto;
    }
  }
  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;
    a {
      font-size: 3rem;
      color: #225a71;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;
      i {
        transition: all 0.3s ease-out;
      }
      &:hover {
          color: #225a71;
          svg {
            opacity: 0;
          }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        #background: #acd0e0;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child{
        &::after {
          content: 'HOME';
        }
      }
    }
    a.about{
      &::after {
        content: 'ABOUT';
      }
    }
    a.gallery{
      &::after {
        content: 'GALLERY';
      }
    }
    a.contact{
      &::after {
        content: 'CONTACT';
      }
    }

    a.active{
      svg{
        color: #225a71;
      }
    }
  }
  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    li{
      a{
        padding: 7px 0;
        display: block;
        font-size: 2rem;
        line-height: 16px;
        &:hover svg{
          color: #225a71;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .nav-bar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    min-height: 0;
    .logo{
      display: none;
    }
    nav {
      display: flex;
      position: relative;
      height: 100%;
      top: 0;
      margin-top: 0;
      padding-top: 3%;
      width: 100%;
      justify-content: space-around;
      a {
        font-size: 2rem;
        line-height: 40px;
        height: 40px;
        &:after {
          content: '';
          font-size: 9px;
          letter-spacing: 2px;
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          #background: #acd0e0;
          opacity: 0;
          transition: all 0.3s ease-out;
        }
      }
    }
    ul {
      height: auto;
      background: white;
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      padding: 0;
      text-align: center;
      margin: 0;

      li{
        margin: 2px;
        display: table-cell;
        text-align: left;
        a{
          padding: 7px 0;
          display: block;
          font-size: 2rem;
          line-height: 16px;
        }
      }
    }
  }
}
